<section class="Section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="custom_moodboard">
  <div class="mood_container">
    <div class="mood_row_1">
      <div class="image_a" style="background-image: url('{{ section.settings.image_a }}'); color: transparent;">23h59</div>
      <div class="image_b" style="background-image: url('{{ section.settings.image_b }}'); color: transparent;">23h59</div>
      <div class="image_c" style="background-image: url('{{ section.settings.image_c }}'); color: transparent;">23h59</div>
    </div>
    <div class="mood_row_2">
      <div class="image_d" style="background-image: url('{{ section.settings.image_a }}'); color: transparent;">23h59</div>
      <div class="image_e" style="background-image: url('{{ section.settings.image_b }}'); color: transparent;">23h59</div>
    </div>
  </div>

</section>


{% schema %}
{
  "name": "Custom Moodboard",
  "settings": [
   {
     "type": "url",
     "id": "image_a",
     "label": "Image a"
   },
     {
     "type": "url",
     "id": "image_b",
     "label": "Vidéo url"
   },
     {
     "type": "url",
     "id": "image_c",
     "label": "Image c"
   },
    {
     "type": "url",
     "id": "image_d",
     "label": "Image d"
   },
        {
     "type": "url",
     "id": "image_e",
     "label": "Image e"
   }
  ]
}
{% endschema %}
